{% assign settings = site.data.settings %}

<!-- FOOTER BOTTOM -->
<section class="global-footer-bottom">
    <div class="container">
		<div class="row">
			<div class="col-4">
				<small>
					&copy; {{ site.time | date: '%Y' }}&nbsp;&nbsp;&nbsp;
					<!-- <a data-toggle="collapse" href="#sitemap">Site Map&nbsp;<i class="fa fa-angle-down"></i></a> -->
				</small>
			</div>
			<div class="col-8 text-right">
				<small>
					<a href="mailto:theweddingwarren@gmail.com">theweddingwarren@gmail.com</a>
					<!-- <a class="author-logo" target="_blank" href="{{ settings.author.url }}"> -->
						<!-- <img width="20" height="20" src="{{ settings.author.logo }}" alt="Site by {{ settings.author.title }}">&nbsp;&nbsp; -->
				    	<!-- <span class="text">{{ settings.author.description }}</span> -->
					<!-- </a> -->
				</small>
			</div>
		</div>
    </div>
</section>

{% comment %}
<!-- FOOTER SITEMAP -->
<section id="sitemap" class="global-footer-sitemap collapse">
	<div class="container">
		<ul class="block-grid-xs-2 block-grid-lg-7">
			{% for item in site.data.sitemap offset: 1 %}
				<li>
					<h5>{{ item.title }}</h5>
					<ul class="list-unstyled">
						{% for item in item.children %}
							<li><a href="{{ item.url }}">{{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endcomment %}