{% comment %}
<!--
    LIQUIDVISUAL-HERO

    - Updated: 29.01.18
    - Notes:
        * .has-height-preset-1 - used for internal pages to set a height
-->
{% endcomment %}

{% assign slides = site.data.carousel_slides %}

<!-- HERO WRAPPER -->
<div class="lv-hero-wrapper">

    <!-- HERO -->
    <div class="lv-hero">

        <!-- HERO ITEMS -->
        {% for item in slides %}
            <div class="lv-hero-item" style="background-image: url('{{ item.image }}')">

                <!-- HERO CAPTION -->
                <div class="container">
                    <div class="lv-hero-item-caption text-center">

                        <h1 class="hero-logo"><img width="800" src="/assets/img/content/logo.svg" alt="logo"></h1>
                        <h2 class="h1 subheader">essential wedding stationery</h2>

                        <div class="row align-items-end">
                            <div class="col-lg-4">
                                <div class="pr-md-4">
                                    <p><img width="179" class="birdcage" src="/assets/img/content/bird-cage-0.png" alt="Birdcage"></p>
                                </div>
                            </div>
                            <div class="col-lg-8 ml-lg-auto">
                                <p class="lead text-center hidden-md-down">Hello, my name is Anne.<br> <strong>The Wedding Warren</strong> creates all<br> the essential stationery and<br> signage for your wedding,<br> personalised just the way you want.</p>

                                <p class="lead text-center hidden-lg-up">Hello, my name is Anne.<br> <strong>The Wedding Warren</strong> creates all the essential stationery and signage for your wedding, personalized just the way you want.</p>

                                {% include snippets/social_media.html %}
                            </div>
                        </div>

                    </div>
                </div>

                <!-- DOWNWARDS ARROW -->
                <!-- <a class="lv-hero-arrow-scroll" href="#tagline"><i class="fa fa-angle-down"></i></a> -->

            </div>
        {% endfor %}

    </div> <!-- /.lv-hero -->

    {% comment %}
    <!-- CAROUSEL CONTROLS -->
    <div class="lv-hero-carousel-controls hidden-sm-down">
        <span class="lv-hero-carousel-prev-btn"><i class="fa fa-angle-left"></i></span>
        <span class="lv-hero-carousel-next-btn"><i class="fa fa-angle-right"></i></span>
    </div>
    {% endcomment %}

</div> <!-- /.lv-hero-wrapper -->