{% comment %}
<!--
    Updated: 10.05.17
    Basic output:

        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="#">Home</a>
            <a class="breadcrumb-item" href="#">Library</a>
            <a class="breadcrumb-item" href="#">Data</a>
            <span class="breadcrumb-item active">Bootstrap</span>
        </nav>
-->
{% endcomment %}

{% assign crumbs = page.url | split: '/' %}

<!-- BREADCRUMB -->
<nav class="breadcrumb mb-0">
    <div class="container">
        <a class="breadcrumb-item" href="/">Home</a>
        {% for item in crumbs offset: 1 %}
            {% if forloop.last %}
                <span class="breadcrumb-item">{{ item | replace:'-',' ' | capitalize }}</span>
            {% else %}
                <a class="breadcrumb-item" href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for item in crumbs limit: crumb_limit %}{{ item | append: '/' }}{% endfor %}">{{ item | replace:'-',' ' | capitalize }}</a>
            {% endif %}
        {% endfor %}
    </div>
</nav>