{% assign settings = site.data.settings %}

<ul class="social-media">
    <li><a class="facebook" href="{{ settings.facebook }}"><i class="fa fa-facebook"></i></a></li>
    <!-- <li><a class="github" href="{{ settings.github }}"><i class="fa fa-github"></i></a></li> -->
    <!-- <li><a class="google-plus" href="{{ settings.google_plus }}"><i class="fa fa-google-plus"></i></a></li> -->
    <li><a class="instagram" href="{{ settings.instagram }}"><i class="fa fa-instagram"></i></a></li>
	<!-- <li><a class="linked-in" href="{{ settings.linked_in }}"><i class="fa fa-linkedin"></i></a></li> -->
    <li><a class="pinterest" href="{{ settings.pinterest }}"><i class="fa fa-pinterest"></i></a></li>
    <!-- <li><a class="twitter" href="{{ settings.instagram }}"><i class="fa fa-twitter"></i></a></li> -->
    <!-- <li><a class="youtube" href="{{ settings.instagram }}"><i class="fa fa-youtube"></i></a></li> -->
</ul>