/*
    VARIABLES.CSS

    - updated: 08.12.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// GLOBAL VARS (USE PIXELS)
//-----------------------------------------------------------------

$fa-font-path: "/assets/fonts";
$header-height-sm: 60px;
$header-height-md: 120px;
$header-height-lg: 120px;

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================