/*
    HEADER.CSS

    - Last updated: 25.02.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$header-top-sm-height: 40px !default;
$header-top-md-height: 40px !default;
$header-top-lg-height: 40px !default;

$header-body-sm-height: 60px !default;
$header-body-md-height: 90px !default;
$header-body-lg-height: 100px !default;

$header-bottom-sm-height: 50px !default;
$header-bottom-md-height: 50px !default;
$header-bottom-lg-height: 50px !default;

$gray-light: transparent; //green;

//-----------------------------------------------------------------
// HEADROOM
//-----------------------------------------------------------------

.headroom {
    will-change: transform;
    transition: transform 200ms linear, background-color 200ms ease;
}

.headroom--pinned {
    @include media-breakpoint-down(sm) {
        transform: translateY(0%);
    }
}
.headroom--unpinned {
	@include media-breakpoint-down(sm) {
    	transform: translateY(-100%);
	}
}

//**********************************************
// STYLING SCROLL HEADER
//**********************************************

.headroom--top {
	background: none; // Need for animation
}

.headroom--not-top {
	&.global-header {

		.global-header-top {
			height: 0;
			padding: 0;
			overflow: hidden;
		}

		.global-header-body {
			@include media-breakpoint-up(md) {
			    height: $header-body-md-height;
			}
		}
	}
}

//-----------------------------------------------------------------
// HEADER GENERAL
//-----------------------------------------------------------------

.global-header {
	position: fixed;
	top: 0;
	width: 100%;
	// background: white;
	// box-shadow: 0 0 3px 1px rgba(black, 0.2);
	z-index: 999;

	// opacity: 0.2;
}

//-----------------------------------------------------------------
// HEADER TOP
//-----------------------------------------------------------------

.global-header-top {
	display: flex;
	align-items: center;
	position: relative;
	height: $header-top-lg-height;
	background: $gray-light;
	font-size: rem-calc(15);
	// font-weight: 600;
	color: white;
	transition: all ease 100ms;

	a {
		display: inline-flex;
		align-items: center;
		color: white;
		transition: opacity 200ms ease;

		&:hover {
			opacity: 0.8;
		}
	}
}

//-----------------------------------------------------------------
// HEADER BODY
//-----------------------------------------------------------------

.global-header-body {
	display: flex;
	align-items: center;
	height: $header-body-sm-height;
	// transition: height 100ms ease;

	@include media-breakpoint-up(md) {
	    height: $header-body-md-height;
	}

	@include media-breakpoint-up(lg) {
		height: $header-body-lg-height;
	}

	//=========================================
	// HEADER HEIGHT [LOCKED]
	//=========================================

	> .container {
		display: flex;
		align-items: center;

		@include media-breakpoint-down(xs) {
		    width: 100%; // fixes mobile glitch?
		}
	}
}

//-----------------------------------------------------------------
// LOGO
//-----------------------------------------------------------------

.global-header .logo {
	@include media-breakpoint-up(md) {
	    // margin: 30px 0 0 0; // adjust the logo here
	}

	img {
		width: 80px;
		// transition: all 150ms ease;

		@include media-breakpoint-up(md) {
			width: 140px;
		}

		@include media-breakpoint-up(lg) {
		    width: 140px;
		}
	}
}

//-----------------------------------------------------------------
// HAMBURGER
//-----------------------------------------------------------------

.global-header-hamburger {
	margin: auto 0 auto auto;

	@include media-breakpoint-up(md) {
	    margin: 30px 0 auto auto;
	}
}

//=========================================
//
//=========================================