/*
    HERO.CSS

    - updated: 29.01.18
    - notes:
        * liquidvisual uses flickity for all carousels
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$hero-sm-height:            auto; //rem-calc(280); // IMPORTANT: fixed height necessary for carousel
$hero-md-height:            rem-calc(800);
$hero-lg-height:            rem-calc(700);
$hero-xl-height:            rem-calc(834);
$hero-xxl-height:           rem-calc(834);

$hero-sm-height-preset-1:   rem-calc(200); // Appears on product landing
$hero-md-height-preset-1:   rem-calc(434);
$hero-lg-height-preset-1:   rem-calc(434);

//-----------------------------------------------------------------
// HERO WRAPPER
// Used to align the controls relative to the container
//-----------------------------------------------------------------

.lv-hero-wrapper {
    position: relative;
}

//-----------------------------------------------------------------
// HERO
//-----------------------------------------------------------------

.lv-hero {
    overflow: hidden; // [LOCKED] - hides slides when no JS
    height: $hero-sm-height;

    @include media-breakpoint-up(md) {
        height: $hero-md-height;
    }

    @include media-breakpoint-up(lg) {
        height: $hero-lg-height;
    }

    @include media-breakpoint-up(xl) {
        height: $hero-xl-height;
    }

    //=========================================
    // HAS HEIGHT PRESET 1
    //=========================================

    &.has-height-preset-1 {
        height: $hero-sm-height-preset-1;

        @include media-breakpoint-up(md) {
            height: $hero-md-height-preset-1;
        }

        @include media-breakpoint-up(lg) {
            height: $hero-lg-height-preset-1;
        }
    }
}

//-----------------------------------------------------------------
// HERO ITEM (Slides)
//-----------------------------------------------------------------

.lv-hero-item {
    display: flex !important; // [LOCKED] - bx or carousel override
    align-items: center;
    width: 100%; // [LOCKED]
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    //=========================================
    // TINT OVERLAY
    //=========================================

    &.has-tint:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.26);
    }
}

//-----------------------------------------------------------------
// HERO CAPTION
//-----------------------------------------------------------------

.lv-hero-item-caption {
    padding: $spacer * 1.5;
    // color: white;

    p {
        font-size: rem-calc(30);
        font-weight: 400;
        line-height: 1.2;
    }

    .hero-logo {
        position: relative;
        z-index: 1;

        img {
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        &:after {
            @include media-breakpoint-up(lg) {
                content: "";
                position: absolute;
                top: 8px;
                left: -100%;
                width: 400%;
                height: 4px;
                background: black;
                z-index: -1;
            }
        }
    }

    .subheader {
        @include media-breakpoint-up(md) {
            font-size: rem-calc(50);
        }
    }
}

//-----------------------------------------------------------------
// IS ALTERNATE (INNER PAGES)
//-----------------------------------------------------------------

.has-height-preset-1 .lv-hero-item {
    align-items: flex-end;
    padding-bottom: 0; // since there's no carousel next/prev

    .lv-hero-item-caption h1 {
        margin-bottom: 0;
    }
}

//-----------------------------------------------------------------
// CAROUSEL CONTROLS
//-----------------------------------------------------------------

.lv-hero-carousel-controls {
    position: absolute;
    top: 44%;
    width: 100%;
    height: 0;
    z-index: 100;

    > .container {
        position: relative;
    }

    //=========================================
    // NEXT / PREV BUTTONS
    //=========================================

    .lv-hero-carousel-prev-btn,
    .lv-hero-carousel-next-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: rem-calc(50);
        height: rem-calc(80);
        line-height: 0;
        cursor: pointer;
        font-family: "FontAwesome";
        font-size: rem-calc(50);
        background: rgba(black, 0.2);
        color: rgba(white, 0.8);
        transition: background 300ms ease, color 300ms ease;

        &:hover {
            background: rgba(black, 0.3);
            color: rgba(white, 0.9);
        }

        &:active {
            color: rgba(white, 0.5);
        }

        i {
            padding-bottom: rem-calc(4);
        }
    }

    .lv-hero-carousel-prev-btn {
        left: 0; // $container-gutter/2;
        border-radius: 0 $border-radius $border-radius 0;
    }

    .lv-hero-carousel-next-btn {
        right: 0; //$container-gutter/2;
        border-radius: $border-radius 0 0 $border-radius;
    }
}

//-----------------------------------------------------------------
// FLICKITY CUSTOM
//-----------------------------------------------------------------

.lv-page .lv-hero .flickity-page-dots {
    bottom: rem-calc(15);
    z-index: 999;

    // curated
    .dot {
        width: rem-calc(13);
        height: rem-calc(13);
        margin: rem-calc(0 6);
    }
}

.lv-hero .flickity-viewport {
    height: 100% !important;
}

//=========================================
// FADE INSTEAD OF SLIDE
// https://github.com/metafizzy/flickity/issues/26
// https://codepen.io/dallanlee/pen/GEjWpo
//=========================================

// .lv-hero .flickity-slider {
//     transform: none !important;
// }

// .lv-hero .lv-hero-item {
//     left: 0 !important;
//     opacity: 0;
//     transition: opacity 0.9s ease-in-out 0.3s;
//     z-index: 1;
// }

// .lv-hero .lv-hero-item.is-selected {
//     opacity: 1;
//     transition: opacity 0.9s ease-in-out;
//     z-index: 2;
// }

//-----------------------------------------------------------------
// HERO - SCROLL ENTICE
//-----------------------------------------------------------------

.lv-hero-arrow-scroll {
    position: absolute;
    left: calc(50% - 20px);
    bottom: rem-calc(100);
    width: rem-calc(40);
    height: rem-calc(40);
    border-radius: 100%;
    background: rgba(white, 0.3);
    font-size: rem-calc(30);
    line-height: rem-calc(40);
    text-align: center;
    color: black;
    z-index: 1;
    animation: pulsate 0.8s ease-out 0.3s alternate infinite;

    @keyframes pulsate {
        0% { transform: translateY(0);}
        100% { transform: translateY(10px);}
    }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------