/*
    MEDIA-ARTICLE.CSS

    - updated: 05.01.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// MEDIA ARTICLES
//-----------------------------------------------------------------

.media-articles {
    a {
        position: relative;
        display: block;
        transition: all 150ms ease;

        &:hover,
        &:active {
            @include media-breakpoint-up(xl) {
                $hover-yellow: rgba(#a4a4b5, 0.15); //rgba($yellow, 0.3);
                background: $hover-yellow;
                box-shadow: 0 0 0 20px $hover-yellow;
            }
        }
    }
}

//-----------------------------------------------------------------
// MEDIA ARTICLE
//-----------------------------------------------------------------

.media-article {
    margin-bottom: $spacer;
    font-weight: 500;
    color: #777;

    @include media-breakpoint-up(md) {
        font-size: rem-calc(15);
    }
}

//=========================================
//
//=========================================