/*
    SECTIONS.CSS

    - Last updated: 09.07.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SECTIONS
//-----------------------------------------------------------------

.section {
	padding: $spacer * 2.5 0;

	@include media-breakpoint-up(md) {
	    padding: $spacer * 3 0;
	}

	//=========================================
	//
	//=========================================

	&.is-large {
		@include media-breakpoint-up(lg) {
		    padding: $spacer * 4 0;
		}
	}

	//=========================================
	// HAS FIXED BG
	//=========================================

	&.has-fixed-bg {
		@include media-breakpoint-up(xl) {
		    background-attachment: fixed;
		}
	}

	//=========================================
	// IS INVERSE
	//=========================================

	&.inverse,
	&.is-inverse {
		h1, h2, h3, h4, h5, h6,
		p, a, ul, ol, hr, small {
			color: white;
		}
	}

	//=========================================
	// HAS IMAGE BG
	//=========================================

	&.has-image-bg {
		position: relative;
		width: 100%; // need
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		z-index: 1;

		// TINT
	    &.has-tint:after {
	    	content: "";
	    	position: absolute;
	    	top: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 100%;
	    	background: rgba(black, 0.5);
	    	z-index: -1;
	    }
	}
}

//-----------------------------------------------------------------
// SECTION DARK
//-----------------------------------------------------------------

.section-dark {
	// background-color: $brand-primary;
}

//-----------------------------------------------------------------
// SECTION LIGHT
//-----------------------------------------------------------------

.section-light {
	// background-color: $gray-light;
}

.section-lighter {
	// background-color: $gray-lighter;
}

.section-lightest {
	// background-color: $gray-lightest;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================