/*
    TYPE.CSS

    - Last updated: 27.06.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//--------------------------------------------------------------------
// TYPE
//--------------------------------------------------------------------

html {
  // @include media-breakpoint-up(xs) { font-size: rem-calc(14); }
  // @include media-breakpoint-up(md) { font-size: rem-calc(16); }
}

//-----------------------------------------------------------------
// ANCHORS
//-----------------------------------------------------------------

a {
	transition: color 300ms ease,
                background 300ms ease,
                opacity 300ms ease;
}

//-----------------------------------------------------------------
// PARAGRAPHS
//-----------------------------------------------------------------

// p, ul, ol, td {
//     @include media-breakpoint-up(lg) {
//         font-size: rem-calc(18);
//     }
// }

//-----------------------------------------------------------------
// HEADINGS
//-----------------------------------------------------------------

.subheader {
    font-family: 'SunValley';
    color: #91a7d0;
	// font-weight: 400;
}

.lead {

}

//-----------------------------------------------------------------
// HEADINGS MOBILE
//-----------------------------------------------------------------

// @include media-breakpoint-down(sm) {
    // h1, .h1 { font-size: calc(#{$font-size-h1} - 60%); }
    // h2, .h2 { font-size: calc(#{$font-size-h2} - 40%); }
    // h3, .h3 { font-size: calc(#{$font-size-h3} - 30%); }
    // h4, .h4 { font-size: calc(#{$font-size-h4} - 20%); }
    // h5, .h5 { font-size: calc(#{$font-size-h5} - 10%); }
    // h6, .h6 { font-size: calc(#{$font-size-h6} - 10%); }
// }

@include media-breakpoint-down(sm) {
	.display-1 { font-size: calc(#{$display1-size} - 250%); }
    // .display-2 { font-size: calc(#{$display1-size} - 100%) !important; }
    // .display-3 { font-size: calc(#{$display1-size} - 100%) !important; }
    // .display-4 { font-size: calc(#{$display1-size} - 100%) !important; }
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================