<!DOCTYPE html>
<html lang="en" {{ site.environment }}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.settings.description }}{% endif %}">
    <title>
        {% if page.url == '/' %}
            {{ site.data.settings.title_homepage }}
        {% else %}
            {{ page.title }} - {{ site.data.settings.title }}
        {% endif %}
    </title>

    <!-- CDN -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i">
    <script src="https://unpkg.com/vue/dist/vue{% unless site.environment == 'development' %}.min{% endunless %}.js"></script>

    <!-- build:css({src,.tmp}) /assets/css/minified.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
</head>
<body class="{{ page.theme }}">

    {% include snippets/loader.html %}

    <div class="lv-page">

        <!-- HEADER -->
        <header class="global-header fixed-top">
            {% include header.html %}
        </header>

        {{ content }}

        <!-- FOOTER -->
        <footer class="global-footer">
            {% include footer.html %}
        </footer>

    </div> <!-- /.lv-page -->

    {% comment %}
    <!-- OFF-CANVAS MENU -->
    <nav class="lv-off-canvas" data-off-canvas-menu aria-hidden="true">
        {% include snippets/navigation.html %}
    </nav>

    <!-- SEARCH -->
    {% include snippets/search.html %}
    {% endcomment %}

    <!--[if lte IE 9]>
    <div class="lv-alert-bar">
        <p>You're using an outdated browser. Please <a title="Click me, you know you want to." href="http://outdatedbrowser.com">upgrade your browser</a> to improve your experience.</p>
        <span class="lv-alert-bar-close-btn">&times;</span>
    </div>
    <![endif]-->

    <!-- **** JAVASCRIPT **** -->

    <!-- build:js({src,.}) /assets/scripts/minified.js -->
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/node_modules/bootstrap-validator/dist/validator.js"></script>
    <script src="/node_modules/flickity/dist/flickity.pkgd.js"></script>
    <script src="/node_modules/jquery.scrollTo/jquery.scrollTo.js"></script>
    <script src="/node_modules/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="/assets/scripts/liquidvisual/utilities.js"></script>
    <script src="/assets/scripts/liquidvisual/responsive-utility.js"></script>
    <script src="/assets/scripts/vendor/headroom.js"></script>
    <script src="/assets/scripts/carousel.js"></script>
    <script src="/assets/scripts/search.js"></script>
    <script src="/assets/scripts/off-canvas.js"></script>
    <script src="/assets/scripts/main.js"></script>
    <!-- endbuild -->

    <!-- { % include snippets/google_analytics.html %} -->

    <!-- NO JAVASCRIPT WARNING -->
    <noscript>
        <div class="lv-alert-bar">
            <p>Your browser has Javascript disabled. Some features may be limited.</p>
        </div>
    </noscript>

</body>
</html>