---
layout: base
---

{% include hero.html %}

<!-- BODY -->
<main class="main-body">

	<!-- SERVICES -->
	<section id="gallery" class="section inverse" style="background: #91a7cf;">
		<div class="container px-xl-5">
			<h2 class="text-center mb-5 subheader display-3">What I can do for you</h2>
			<ul class="block-grid-md-2 text-center">
				<li class="h3">Invitations</li>
				<li class="h3">Table Numbers</li>
				<li class="h3">Save the Dates</li>
				<li class="h3">Name Cards</li>
				<li class="h3">Welcome Sign</li>
				<li class="h3">Favour Tags / Stickers</li>
				<li class="h3">Ceremony Booklet</li>
				<li class="h3">Cake Box</li>
				<li class="h3">Seating Plan</li>
				<li class="h3">Signs</li>
				<li class="h3">Menu</li>
				<li class="h3">Thank You Cards</li>
			</ul>
		</div>
	</section>

	<!-- GALLERY -->
	<section id="gallery" class="section">
		<div class="container">
			<h2 class="text-center mb-5">Gallery</h2>
			<ul class="block-grid-md-2 block-grid-lg-3">
				{% for i in (1..5) %}
					<li><img width="100%" src="/assets/img/content/gallery-{{i}}.png" alt="Gallery"></li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<!-- CONTACT -->
	<section id="contact" class="section inverse" style="background: #91a7cf;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6 col-xl-5">
					<h2 class="text-center mb-5">Ready to go?<br> Get a quick quote today.</h2>
					{% include forms/form_basic.html %}
				</div>
			</div>
		</div>
	</section>

</main>