/*
    SPECIAL.CSS

    - updated: 16.01.18
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// SPECIAL
//-----------------------------------------------------------------

.fas,
.fal,
.far,
.fab {
	font-style: normal;
}

.birdcage {
	@include media-breakpoint-down(sm) {
	    width: 100%;
	}
}

.subheader {
	@include media-breakpoint-down(sm) {
	    font-size: rem-calc(30);
	}
}

//=========================================
//
//=========================================