/*
    TEXT-EDITOR.CSS

    - updated: 08.12.17
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------------

$spacer: rem-calc(20) !default;

//-----------------------------------------------------------------
// IMAGE ALIGNMENT
//-----------------------------------------------------------------

.img-left {
	margin-bottom: $spacer;

	@include media-breakpoint-down(sm) {
	    width: 100%;
	}

	@include media-breakpoint-up(md) {
	    float: left;
	    margin: $spacer $spacer 0 0;
	}
}

.img-right {
	margin-bottom: $spacer;

	@include media-breakpoint-down(sm) {
	    width: 100%;
	}

	@include media-breakpoint-up(md) {
	    float: right;
	    margin: 0 0 $spacer $spacer;
	}
}

//-----------------------------------------------------------------
// FONTS
//-----------------------------------------------------------------

// .font-family-serif {
	// font-family: $font-family-serif;
// }

.font-family-sans-serif {
	font-family: $font-family-sans-serif;
}

//=========================================
//
//=========================================